<!DOCTYPE html>
<html lang="en" ng-app="ngApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CalorieStack</title>

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!-- moment.js  http://momentjs.com -->
		<script src="/3rdparty/momentjs/js/moment.min.js"></script>

		<!-- bootstrap-datetimepicker https://github.com/Eonasdan/bootstrap-datetimepicker -->
		<link rel="stylesheet" href="/3rdparty/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"></script>
		<script src="/3rdparty/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/base.css">
	</head>
	<body>
		<script lang="text/javascript">
			var ngApp = angular.module('ngApp', ['ngResource']);

			ngApp.config(function($interpolateProvider) {
				$interpolateProvider.startSymbol('[[');
				$interpolateProvider.endSymbol(']]');
			});
		</script>

		{% block body %}{% endblock %}
	</body>
</html>
