{% extends "base.html" %}

{% block body %}

<script src="/js/home.js"></script>

<div class="row" ng-controller="HomeCtrl">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="jumbotron">
			<h1>CalorieStack</h1>
			<p>CalorieStack is a minimal calorie counting web app. We make it as easy as possible to
			log calories by doing away with complex features and focusing on the basics. You don't
			have to register an account. <strong>Just create a new stack, bookmark the URL, and start
			logging calories.</strong> Or take a look at our <a href="/sample">sample stack</a> to see
			an example of a stack already in progress.
			</p>
			<p>
				<button class="btn btn-primary btn-lg" role="button" ng-click="createStack()">Create a new stack</button>
				<!--a class="btn btn-default btn-lg" href="/sample" role="button">See a sample stack</a-->
			</p>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

{% endblock %}
